<div class="main-content" *ngIf="(images.length | json) > 0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 images-table" id="images-table">
				<div class="card">
					<div class="card-header" data-background-color="red">
						<h4 class="title">Your order</h4>
					</div>
					<div class="card-content table-responsive" >
						<table class="table">
							<thead class="text-danger">
								<tr>
									<th> </th>
									<th>Image</th>
									<th>Name</th>
									<th>Quantity</th>
									<th>Price</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let image of images">
									<td>{{image.id}}</td>
									<td>
										<img src="{{image.imgPath}}" style="height: 60px; width:auto" />
									</td>
									<td>{{image.name}}</td>
									<td>
										<input [(ngModel)]="image.quantity" id="price{{image.id}}" />
									</td>
									<td class="text-danger">{{image.price | currency:'VND':false}}</td>
									<td>
										<!-- <button class="btn btn-success" (click)=(changeQuantity(image.id))>Update</button> -->
										<button style="background: unset;border:unset">
											<i class="material-icons sidebar-icon text-success" (click)=(changeQuantity(image.id))>check_circle</i>
										</button>
										<button style="background: unset;border:unset">
											<i class="material-icons sidebar-icon text-danger" (click)=(removeItem(image.id))>delete</i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<label class="text-danger pull-right">
							<b>Total: {{total | currency:'VND':false}}</b>
						</label>
					</div>
				</div>
				<button class="btn btn-primary pull-right" data-toggle="collapse" data-target="#checkout">Checkout</button>
				<button class="btn btn-danger pull-right" (click)="removeOrder()">Remove cart</button>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<!-- Checkout -->
<div class="main-content collapse checkout-area" id="checkout">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="blue">
						<h4 class="title">Order Detail</h4>
					</div>
					<div class="card-content">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group form-black label-floating is-empty">
									<label class="control-label">Username</label>
									<input type="text" class="form-control" [(ngModel)]="order.Name">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group form-black label-floating is-empty">
									<label class="control-label">Email address</label>
									<input type="email" class="form-control" [(ngModel)]="order.Email">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group form-black label-floating is-empty">
									<label class="control-label">Phone</label>
									<input type="text" class="form-control" [(ngModel)]="order.Phone">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group form-black label-floating is-empty">
									<label class="control-label">Adress</label>
									<input type="text" class="form-control" [(ngModel)]="order.Address">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Note</label>
									<div class="form-black label-floating is-empty">
										<textarea class="form-control" rows="5" [(ngModel)]="order.Note"></textarea>
									</div>
								</div>
							</div>
						</div>

						<button class="btn btn-success pull-right" (click)="submitOrder()">Submit</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>