

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: white !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

@font-face {
    font-family: 'Art-header';
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../../fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
}

@font-face {
    font-family: 'Art-para';
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../../fonts/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
}

/* vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(../../fonts/NUrn2XQrRfyGZp5MknntaRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(../../fonts/s2PXW4WrV3VLrOUpHiqsfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.slider-img {
    object-fit: cover;
}

.art-slider {
    width: 100%;
    background-image: url(../Images/ng-background.png);
}

.container {
    width: 100%;
}

.art-slider img {
    height: 100%;
    margin: auto;
    max-height: 600px;
}

.slick-dots {
    bottom: 2px !important;
}

    .slick-dots > li {
        width: 50px;
        color: white;
        border: 2px grey;
    }

.homepage_article_box {
    padding: 10px;
}

.homepage_article_header {
    /*background-color: #fafafa;*/
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

    .homepage_article_header > h2 {
    }

.artist-thumbail {
    height: 95px;
    width: 100%;
    object-fit: cover;
    padding: 0 5px 0 5px;

}

.shadowbox {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.artist-content {
}

    .artist-content div {
        padding: unset;
    }

h1, h2, h3 {
    font-family: Quicksand
}

p {
    font-family: Quicksand;
    font-size: medium;
}

.artist-name-card {
    position: relative;
    height: 95px;
    margin-bottom: 10px;
}

.artist-name-card-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

    .artist-name-card-img > img {
        position: absolute;
        width: 100%;
    }

.artist-name-card-text {
    position: absolute;
    width: 40%;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
}

    /*.artist-name-card-text:hover {*/
    /*box-shadow: 0px 0px 16px 1px #655353;
    }*/

    .artist-name-card-text > p {
        font-family: Quicksand;
        position: absolute;
        z-index: 1;
        width: 100%;
        font-weight: bold;
        font-size: medium;
        bottom: 0;
        left: 0;
        right: 0;
        color: black;
        background-color: white;
        box-shadow: 0px 0px 16px 1px rgba(161, 161, 161, 0.48);
        opacity: 0.7;
        margin: auto;
    }

.product-detail-cover {
    height: 200px;
    background-image: linear-gradient(transparent, white);
    position: relative;
    margin: unset;
}

.product-detail-cover-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    background-size: cover;
}

.product-detail-avatar {
    text-align: center;
}

    .product-detail-avatar > img {
        margin: auto;
        height: 400px;
    }

.product-detail-cover > img {
    height: 100%;
}

.product-detail-name-area {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
}



    .product-detail-name-area > .col-md-6 {
        background-color: rgba(255, 255, 255, 0.4);
        opacity: 0.7;
        color: black;
        box-shadow: 9px 7px 20px 1px rgba(62, 62, 62, 0.41), -7px -7px 20px 1px rgba(62, 62, 62, 0.41), 7px -7px 20px 1px rgba(62, 62, 62, 0.41), -7px 7px 20px 1px rgba(62, 62, 62, 0.41);
    }

.container-content {
    margin-bottom: 20px;
}

    .container-content > .row {
        margin-top: 30px;
        text-align: center;
    }

.art-btn {
    background: unset;
    border: 1px solid #d1d1d1;
    height: 50px;
    width: 147px;
}

    .art-btn:hover {
        background-color: #d1d1d1;
    }

.product-detail-nav-tab {
    background: unset !important;
    text-align: center;
}

    .product-detail-nav-tab > li {
        float: unset;
        display: inline-block;
    }

        .product-detail-nav-tab > li > a {
            color: black !important;
        }

.cus-tab-pane {
    text-align: center !important;
}

    .cus-tab-pane table {
        max-width: 70%;
        margin: auto;
    }

    .cus-tab-pane th {
        width: 30%;
        text-align: center;
        background-color: #eeeeee;
    }

/*.modal .modal-dialog {
    margin-top: 30px;
}
.modal-backdrop {
    z-index: -1;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}*/

.furniture-thumbnail {
    height: 125px;
    max-height: 125px;
    position: relative;
    text-align: center;
}

    .furniture-thumbnail > img {
        top: 0;
        bottom: 0;
        width: 90%;
        height: 90%;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
    }

.furniture-row {
    padding-top: 10px;
    margin: 10px 0 0 0;
    border-top: 1px solid #ecedec;
}

.on-wall-furniture {
    margin-top: 10px;
    max-height: 200px;
    height: 200px;
    margin-bottom: 10px;
}

    .on-wall-furniture > img {
        margin: auto;
        height: 100%;
    }

.tab-content-area {
    margin: 10px 0 0 0;
}

.product-detail-artist-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-detail-artist-desc {
    text-align: left;
}

    .product-detail-artist-desc > h3 {
        margin-top: unset;
    }

.product-detail-same-artist-product {
    height: 95px;
    margin-bottom: 15px;
}

.product-detail-same-artist-product-header {
    margin: 10px 0;
    text-align: left;
}

.product-detail-same-artist-product > img {
    padding: unset;
}

.same-product-row {
    margin: 20px 0;
}

.product-box {
    height: 100%;
    margin: 0 10px;
    border: 3px solid #eaebea;
    position: relative;
}

    .product-box:hover {
        box-shadow: 1px 1px 20px 5px #9b9999;
        transform: scale(1.06);
        transition: all 250ms ease-out;
    }



.product-box-img {
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.product-box-name {
    background-color: black;
    height: 0px;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

    .product-box-name > p {
        display: none;
        font-size: smaller;
    }

.product-box:hover .product-box-name {
    height: 30px;
    display: block;
}

    .product-box:hover .product-box-name > p {
        color: white;
        display: block;
        text-align: center;
    }

.pinned-artist-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.pinned-artist-box {
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
    position: relative;
}

.pinned-artist-name-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    width: 50%;
    
    z-index: 1;
    color: black
}

    .pinned-artist-name-container > p {
        margin-top: 10px;
        border: 0.5px solid black;
        background-color: rgba(255, 255, 255, 0.4);
    }

.pinned-artist-name-background {
    height: 100%;
    background-color: black;
    width: 0;
    position: absolute;
    opacity: 0.5;
    transition: width 250ms ease-out;
}

.pinned-artist-box:hover .pinned-artist-name-background {
    width: 100%;
}

.pinned-artist-box:hover > .pinned-artist-name-container p {
    background-color: rgba(0, 0, 0, 0.23);
    border: 0.5px solid white;
    color: white;
}

@media screen and (min-width: 1000px){
    .artist-detail-avatar {
        height: 500px;
        margin: 10px 25% 10px 25%;
    }
}
.artist-detail-avatar-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border: 5px solid #ecedec;
}

.artist-detail-name {
    text-align: center;
}

.post-img {
    height: 300px;
}

.post-img-el {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-desc {
    height: 600px;
}

    .post-desc img {
        width: 30% !important;
        display: block;
    }

.post-desc-content {
    height: 100%;
    padding-bottom: 40px;
    position: relative;
}

.post-desc-content-holder {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
}

.post-desc-content > p {
    color: #9c27b0;
    margin: 5px;
    text-align: center;
}

.post-desc-content:hover > p {
    font-weight: bold;
}

.post-container {
    padding-bottom: 20px;
}

    .post-container a {
        color: unset;
    }

.post-header {
    text-align: center;
}

.post-content-holder {
    border: 1px solid rgba(161, 167, 180, 0.29);
}

    .post-content-holder:hover {
        box-shadow: 3px 3px 20px 1px rgba(128, 128, 128, 0.36);
    }

.sidebar-icon {
    transition: all 300ms linear;
}

.sidebar-icon-collapse {
    float: right !important;
    margin-right: unset !important;
}

.sidebar-collapse {
    left: -170px !important;
}

    .sidebar-collapse a {
        padding: 10px 0px !important;
    }

.body-container {
    width: calc(100% - 60px) !important;
}

.logo {
    display: block;
}

    .logo a {
        display: inline-block !important;
    }

    .logo button {
        padding-top: 5px;
        display: inline-block;
        border: unset;
        background-color: unset;
        float: right;
    }

.sidebar-fixed {
    transition: all 300ms linear;
}

.events-background {
    width: 100%;
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.68)), url(https://orig10.deviantart.net/9c23/f/2014/062/6/e/tree_swing_by_t1na-d78qocc.jpg);
    background-size: cover;
}

.event-card {
    height: 180px;
    margin: 20px 0;
}

.event-card-container {
    width: 100%;
    height: 100%;
    background-color: white;
}

.post-detail-header {
    text-align: center;
}

.event-desc {
    height: 200px;
}

.add-page-ispinned {
    text-align: center;
}

.select-box {
    display: block;
}

select {
    border: none;
    border-bottom: 0.5px solid #c7cdd9;
}

    select::-ms-expand {
        display: none;
        border: none;
    }

.modal::backdrop {
    overflow: hidden;
}

.img-thumbnail {
    max-width: 500px;
    max-height: 500px;
}

show.bs.modal .main-panel {
    overflow: hidden;
}

.see-more-row {
    text-align: center;
}

.sidebar-wrapper {
    overflow: visible;
}

    .sidebar-wrapper:hover {
        overflow: auto;
    }

    .sidebar-wrapper::-webkit-scrollbar {
        width: 5px;
    }

    .sidebar-wrapper::-webkit-scrollbar-button {
        width: 5px !important;
        color: black;
        border-radius: 5px;
    }

.main-panel::-webkit-scrollbar {
    width: 0px;
}

.our-story {
    text-align:center;
    font-size:x-large;
    margin-bottom:30px;
}

.our-story p{
    font-size: x-large;
}
.btn-logout{
    text-align: center;
}

.sidebar-background {
    /*background-image: url(../../Content/Images/sidebar-4.jpg)*/
}

.main-footer{
    position:absolute;
    height: 60px;
    background-color: white;
    bottom: 0;
    width : 100%;
}