<div id="art-slider">
	
	</div>
	<div class="container">
	
		<div class="row shadowbox" style="font-size: 30px; padding: 30px; text-align: center;">
	
			<div class="homepage_article_box">
				<div class="row homepage_article_header ">
					<h6>WHY NEWGEN?</h6>
				</div>
			</div>
			<p>
				<span style="font-size: 20px;">We are the </span><span style="font-size: 20px;">new</span><span style="font-size: 20px;"> generation </span><span style="font-size: 20px;">is</span><span style="font-size: 20px;">
					doing fine arts. We are young and creative.<br/>
					<br/>
					We welcome everybody, every&nbsp;
				</span><span style="color: rgb(156, 39, 176); font-size: 20px;">gen</span><span style="font-size: 20px;">der who loves art, do art.</span>
			</p>
			<p>
				<br/>
				<span style="font-size: 20px;">We are going to bring all the&nbsp;</span><span style="color: rgb(156, 39, 176); font-size: 20px;">new gen</span><span style="font-size: 20px;">eral</span><span style="font-size: 20px;"> information about art to you.</span>
			</p>
			<p>
				<br/>
				<span style="font-size: 20px;">We are&nbsp;</span><b style="color: rgb(156, 39, 176); font-size: 20px;">NEW GEN ART</b>
			</p>
	
		</div>
	
	
		<div class="homepage_article_box">
			<div class="row homepage_article_header ">
				<h3>WHO ARE WE?</h3>
			</div>
		</div>
		<div class="row artist-content">
			<div class="col-md-12 col-xs-12" id="our_artist">
	
			</div>
		</div>
		<br/>
		<div class="homepage_article_box">
			<div class="row homepage_article_header">
				<h3>WHAT DO WE CREATE?</h3>
			</div>
		</div>
		<div class="row artist-content">
			<div class="col-md-12 col-xs-12" id="our_product"></div>
		</div>
	
		<br/>
		<div class="homepage_article_box">
			<div class="row homepage_article_header">
				<h3>CONTACT US</h3>
			</div>
		</div>
	
		<div class="row">
			@*<div class="col-md-3">
				<img src="~/Content/Images/NG_NameCard_1_Back.png" class="img-responsive"/>
	
			</div>
			<div class="col-md-3">
				<img src="~/Content/Images/NG_Nameard_1_Front.png" class="img-responsive"/>
			</div>*@
	
			<div class="shadowbox" style="padding: 10px; vertical-align: middle">
				<p>
					via
					<img src="~/Content/Images/viber.png"/>
					<img src="~/Content/Images/whatsapp.png"/>
					(+84) 91 789 57 67
					- Or email to us: <a href="mailto:nhung.nguoihaiphong@gmail.com?Subject=NeedSupportFromNewGen" target="_top">nhung.nguoihaiphong@gmail.com</a>
				</p>
			</div>
		</div>
	</div>